body {
    height: 220vh; 
    
}

.parallax {
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    overflow-y: hidden;
    position: absolute; 
    top: 0px; 
    right: 0px; 
}
.parallax__layer {
    background-position: bottom right; 
    background-size:contain; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh;
    position: absolute; 
/*    z-index: -1; */
}

.parallax__layer img {
    width: 100%; 
}

/* story 1 */

.parallax__layer-11 {
    background-image: url('../fears-humans/fears-humanmonsters1-01.png'); 
}

.parallax__layer-12 {
    background-image: url('../lies-watermelon/lies-watermelon1-01.png'); 

}

.parallax__layer-13 {
    background-image: url('../gaps-hardattack/gaps-hardattack3-01.png'); 
}


.parallax__layer-14 {
    background-image: url('../gaps-hardattack/gaps-hardattack4-01.png'); 
}

.parallax__layer-15 {
    background-image: url('../memory-water/earlymemory-water4-01.png'); 
}

.parallax__layer-16 {
    background-image: url('../gaps-armegadon/gaps-armegadon5-01.png'); 

}

.parallax__layer-17 {
    
    background-image: url('../dreams-dom/dreams-dom1-01.png'); 

}
.parallax__layer-18 {
        background-image: url('../memory-nugs/earlymemory-nugs6-01.png') ; 

}


/* text stuff */

.story {
/*
    position: absolute; 
    left: 0px; 
*/
    position: relative; 
    width: 100vw; 
    height: 100vh;
/*    padding-bottom: 100px; */
}

#1s {
    z-index: 1; 
    position: absolute; 
    top: 0px; 
    display: none; 
}


.text {
    width: 25vw; 
    height: 100vh; 
    position: relative; 
    z-index: 1;     
    display: flex; 
    flex-direction: column; 
    justify-content: center;

}

.swatch {
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.color {
    height: 20px; 
    width: 10px; 
}

#c1 {
    background-color: black; 
}
#c2 {
    background-color: #e83161; 
}
#c3 {
    background-color: black; 
}
#c4 {
    background-color: #e83161; 
}


.textcontent {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold; 
    font-weight: 500;
    line-height: 20.4px;

    /*
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    */
    padding: 25px; 
    /*    padding-bottom: 20px; */
    /*    padding-left: 20px;*/
}

h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 46px;
    font-style: normal;
    font-variant: normal; 
    font-weight: 500;
    line-height: 48.4px;
    letter-spacing: -1px;
}


.storyteller {
    text-align: right; 
}

a:link, a:visited, a:active {
    color: e83161; 
    text-decoration: none; 
}

a:hover {
    color: black; 
}

td {
    color: e83161; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    vertical-align: baseline; 
}