/* story 1 */
.parallax__layer-11 {
    background-image: url('../dreams-dom/dreams-dom1-01.png'); 
}
.parallax__layer-12 {
    background-image: url('../dreams-dom/dreams-dom2-01.png'); 
}
.parallax__layer-13 {
    background-image: url('../dreams-dom/dreams-dom3-01.png'); 
}

/* story 2 */

.parallax__layer-21 {
    background-image: url('../dreams-mirror/dreams-mirror1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../dreams-mirror/dreams-mirror2-01.png'); 

}
.parallax__layer-23 {
    background-image: url('../dreams-mirror/dreams-mirror3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../dreams-mirror/dreams-mirror4-01.png'); 

}

#c1 {
    background-color: #842f21; 
}
#c2 {
    background-color: #8c5b3a; 
}
#c3 {
    background-color: #281708; 
}
#c4 {
    background-color: #58acbf; 
}

#c5 {
    background-color: #9b4e42; 
}
#c6 {
    background-color: #ce7c24; 
}
#c7 {
    background-color: #e1e4ea; 
}
#c8 {
    background-color: #bfa9bd; 
}
