/* story 1 */
.parallax__layer-11 {
    background-image: url('../fears-blackhole/fears-blackhole-01.svg'); 
/*    background-image: url('../fears-blackhole/fears-blackhole-1.png'); */
}
.parallax__layer-12 {
    background-image: url('../fears-blackhole/fears-blackhole-02.svg');
/*    background-image: url('../fears-blackhole/fears-blackhole-2.png'); */

}
.parallax__layer-13 {
    background-image: url('../fears-blackhole/fears-blackhole-03.svg');
/*    background-image: url('../fears-blackhole/fears-blackhole-3.png'); */

}
.parallax__layer-14 {
    background-image: url('../fears-blackhole/fears-blackhole-04.svg');
/*    background-image: url('../fears-blackhole/fears-blackhole-4.png'); */
}

.parallax__layer-15 {
    background-image: url('../fears-blackhole/fears-blackhole-05.svg');
/*    background-image: url('../fears-blackhole/fears-blackhole-5.png'); */
}

/* story 2 */

.parallax__layer-21 {
    background-image: url('../fears-humans/fears-humanmonsters1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../fears-humans/fears-humanmonsters2-01.png'); 

}
.parallax__layer-23 {
    background-image: url('../fears-humans/fears-humanmonsters3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../fears-humans/fears-humanmonsters4-01.png'); 
}

.parallax__layer-25 {
    background-image: url('../fears-humans/fears-humanmonsters5-01.png'); 
}

.parallax__layer-26 {
    background-image: url('../fears-humans/fears-humanmonsters6-01.png'); 
}


/* color swatches */

#c1 {
    background-color: #1e567c; 
}
#c2 {
    background-color: #0e323f; 
}
#c3 {
    background-color: #d85656; 
}
#c4 {
    background-color: #99764f; 
}

#c5 {
    background-color: #66af5b; 
}
#c6 {
    background-color: #ffe252; 
}
#c7 {
    background-color: #6b6b89; 
}
#c8 {
    background-color: #34344c; 
}