
/* story 1 */

.parallax__layer-11 {
    background-image: url('../fears-humans/fears-humanmonsters1-01.png'); 
}

.parallax__layer-12 {
    background-image: url('../lies-watermelon/lies-watermelon1-01.png'); 

}

.parallax__layer-13 {
    background-image: url('../gaps-hardattack/gaps-hardattack3-01.png'); 
}


.parallax__layer-14 {
    background-image: url('../gaps-hardattack/gaps-hardattack4-01.png'); 
}

.parallax__layer-15 {
    background-image: url('../memory-water/earlymemory-water4-01.png'); 
}

.parallax__layer-16 {
    background-image: url('../gaps-armegadon/gaps-armegadon5-01.png'); 

}

.parallax__layer-17 {
    
    background-image: url('../dreams-dom/dreams-dom1-01.png'); 

}
.parallax__layer-18 {
        background-image: url('../memory-nugs/earlymemory-nugs6-01.png') ; 

}


#c1 {
    background-color: black; 
}
#c2 {
    background-color: #e83161; 
}
#c3 {
    background-color: black; 
}
#c4 {
    background-color: #e83161; 
}



td {
    color: e83161; 
    padding-right: 25px; 
    padding-bottom: 10px; 
    vertical-align: baseline; 
}