
/* story 1 */
.parallax__layer-11 {
    background-image: url('../lies-watermelon/lies-watermelon1-01.png'); 
}
.parallax__layer-12 {
    background-image: url('../lies-watermelon/lies-watermelon2-01.png'); 
}
.parallax__layer-13 {
    background-image: url('../lies-watermelon/lies-watermelon3-01.png'); 
}
.parallax__layer-14 {    
    background-image: url('../lies-watermelon/lies-watermelon4-01.png'); 
}

.parallax__layer-15 {
    background-image: url('../lies-watermelon/lies-watermelon5-01.png');  
}

.parallax__layer-16 {
    background-image: url('../lies-watermelon/lies-watermelon6-01.png'); 
}

.parallax__layer-17 {
    background-image: url('../lies-watermelon/lies-watermelon7-01.png'); 
}


/* story 2 */

.parallax__layer-21 {
    background-image: url('../lies-eyes/lies-eyes1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../lies-eyes/lies-eyes2-01.png'); 
}
.parallax__layer-23 {
    background-image: url('../lies-eyes/lies-eyes3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../lies-eyes/lies-eyes4-01.png'); 
}

.parallax__layer-25 {
    background-image: url('../lies-eyes/lies-eyes5-01.png'); 
}

.parallax__layer-26 {
    background-image: url('../lies-eyes/lies-eyes6-01.png'); 
}


#c1 {
    background-color: #7b527c; 
}
#c2 {
    background-color: #ff8a3b; 
}
#c3 {
    background-color: #c9cfd3; 
}
#c4 {
    background-color: #72a04a; 
}

#c5 {
    background-color: #5baab2; 
}
#c6 {
    background-color: #b2c197; 
}
#c7 {
    background-color: #ffdc85; 
}
#c8 {
    background-color: #8c5d20; 
}
