/* story 1 */
.parallax__layer-11 {
    background-image: url('../memory-nugs/earlymemory-nugs1-01.png'); 
}
.parallax__layer-12 {
    background-image: url('../memory-nugs/earlymemory-nugs2-01.png'); 

}
.parallax__layer-13 {
    background-image: url('../memory-nugs/earlymemory-nugs3-01.png'); 

}
.parallax__layer-14 {
    background-image: url('../memory-nugs/earlymemory-nugs4-01.png'); 
}

.parallax__layer-15 {
    background-image: url('../memory-nugs/earlymemory-nugs5-01.png'); 
}

.parallax__layer-16 {
    background-image: url('../memory-nugs/earlymemory-nugs6-01.png'); 
}


/* story 2 */

.parallax__layer-21 {
    background-image: url('../memory-water/earlymemory-water1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../memory-water/earlymemory-water2-01.png'); 

}
.parallax__layer-23 {
    background-image: url('../memory-water/earlymemory-water3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../memory-water/earlymemory-water4-01.png'); 
}

.parallax__layer-25 {
    background-image: url('../memory-water/earlymemory-water5-01.png'); 
}

.parallax__layer-26 {
    background-image: url('../memory-water/earlymemory-water6-01.png'); 
}



#c1 {
    background-color: #679fa0; 
}
#c2 {
    background-color: #9b7249; 
}
#c3 {
    background-color: #af3a35; 
}
#c4 {
    background-color: #f2d679; 
}

#c5 {
    background-color: #c7e5ed; 
}
#c6 {
    background-color: #93c5d1; 
}
#c7 {
    background-color: #54a3b6; 
}
#c8 {
    background-color: #c1a372; 
}
