/* story 1 */
.parallax__layer-11 {
    background-image: url('../gaps-armegadon/gaps-armegadon1-01.png'); 
}
.parallax__layer-12 {
    background-image: url('../gaps-armegadon/gaps-armegadon2-01.png'); 
}
.parallax__layer-13 {
    background-image: url('../gaps-armegadon/gaps-armegadon3-01.png'); 
}
.parallax__layer-14 {
    background-image: url('../gaps-armegadon/gaps-armegadon4-01.png'); 
}

.parallax__layer-15 {
    background-image: url('../gaps-armegadon/gaps-armegadon5-01.png'); 
}

.parallax__layer-16 {
    background-image: url('../gaps-armegadon/gaps-armegadon6-01.png'); 
}


/* story 2 */

.parallax__layer-21 {
    background-image: url('../gaps-hardattack/gaps-hardattack1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../gaps-hardattack/gaps-hardattack2-01.png'); 
}
.parallax__layer-23 {
    background-image: url('../gaps-hardattack/gaps-hardattack3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../gaps-hardattack/gaps-hardattack4-01.png'); 
}

.parallax__layer-25 {
    background-image: url('../gaps-hardattack/gaps-hardattack5-01.png'); 
}

.parallax__layer-26 {
    background-image: url('../gaps-hardattack/gaps-hardattack6-01.png'); 
}

.parallax__layer-27 {
    background-image: url('../gaps-hardattack/gaps-hardattack7-01.png'); 
}


#c1 {
    background-color: #5e7c7c; 
}
#c2 {
    background-color: #4fe2ed; 
}
#c3 {
    background-color: #e8af49; 
}
#c4 {
    background-color: #c4382a; 
}

#c5 {
    background-color: #b24329; 
}
#c6 {
    background-color: #2c2549; 
}
#c7 {
    background-color: #ffec64; 
}
#c8 {
    background-color: #c439d3; 
}