body {
    height: 220vh; 
    
}

.parallax {
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    overflow-y: hidden;
    position: absolute; 
    top: 0px; 
    right: 0px; 
}
.parallax__layer {
    background-position: bottom right; 
    background-size:contain; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh;
    position: absolute; 
/*    z-index: -1; */
}

.parallax__layer img {
    width: 100%; 
}

/* story 1 */
.parallax__layer-11 {
    background-image: url('../dreams-dom/dreams-dom1-01.png'); 
}
.parallax__layer-12 {
    background-image: url('../dreams-dom/dreams-dom2-01.png'); 
}
.parallax__layer-13 {
    background-image: url('../dreams-dom/dreams-dom3-01.png'); 
}

/* story 2 */

.parallax__layer-21 {
    background-image: url('../dreams-mirror/dreams-mirror1-01.png'); 
}
.parallax__layer-22 {
    background-image: url('../dreams-mirror/dreams-mirror2-01.png'); 

}
.parallax__layer-23 {
    background-image: url('../dreams-mirror/dreams-mirror3-01.png'); 

}
.parallax__layer-24 {
    background-image: url('../dreams-mirror/dreams-mirror4-01.png'); 

}


/* text stuff */

.story {
/*
    position: absolute; 
    left: 0px; 
*/
    position: relative; 
    width: 100vw; 
    height: 100vh;
/*    padding-bottom: 100px; */
}

#1s {
    z-index: 1; 
    position: absolute; 
    top: 0px; 
    display: none; 
}

#2s {
    z-index: 2; 
    position: absolute; 
    top: 100vh !important; 
}

#3s {
    z-index: 3; 
}


.text {
    width: 25vw; 
    height: 100vh; 
    position: relative; 
    z-index: 1;     
    display: flex; 
    flex-direction: column; 
    justify-content: center;

}

.swatch {
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}

.color {
    height: 20px; 
    width: 10px; 
}

#c1 {
    background-color: #842f21; 
}
#c2 {
    background-color: #8c5b3a; 
}
#c3 {
    background-color: #281708; 
}
#c4 {
    background-color: #58acbf; 
}

#c5 {
    background-color: #9b4e42; 
}
#c6 {
    background-color: #ce7c24; 
}
#c7 {
    background-color: #e1e4ea; 
}
#c8 {
    background-color: #bfa9bd; 
}

.textcontent {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold; 
    font-weight: 500;
    line-height: 20.4px;

    /*
    position: absolute; 
    bottom: 0px; 
    left: 0px; 
    */
    padding: 25px; 
    /*    padding-bottom: 20px; */
    /*    padding-left: 20px;*/
}

h1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 46px;
    font-style: normal;
    font-variant: normal; 
    font-weight: 500;
    line-height: 48.4px;
    letter-spacing: -1px;
}

.storyteller {
    text-align: right; 
}

#home {
    position: fixed; 
    bottom: 10px; 
    left: 10px; 
    opacity: .8; 
    letter-spacing: 2px; 
    z-index: 100; 
    color: black; 
}

#home:hover {
    opacity: 1; 
    color: #e83161; 
}