.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; 
}

.parallax__layer img {
    width: 100%; 
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--middle {
    transform: translateZ(-1px) scale(2);
}
.parallax__layer--back {
    transform: translateZ(-2px) scale(3);
}

.text {
    width: 200px; 
    position: fixed; 
    top: 0px; 
    left: 0px; 
    z-index: 1; 
    padding: 20px; 
    
}